//Zadanie1

.panel {
  font-size: 40px;

  p {
    font-size: 0.5em;
  }
}
//Zadanie2
.bg_box {
  font-size: 15px;

  .box {
    font-size: 2em;
    width: 2em;
  }
}
//Zadanie3
html {
  font-size: 8px;
}

.container {
  p {
    font-size: 3rem;
  }
}
//Zadanie4
.wolf_text {
  width: 30rem;
  border: 1px solid red;
}
//Zadanie5
.winnie_the_pooh {
  font-size: 10px;

  blockquote {
    font-size: 300%;
  }
}
//Zadanie6
.images {
  width: 80%;
  height: 400px;
  border: 5px solid orange;

  .img_one {
    background-image: url('/home/weronika/Pulpit/CODERS_LAB/MODUŁ_3/WRO_FRO_S_08_RWD_SASS/1_Zadania/Dzien_2/3_RWD_Jednostki_w_RWD/images/cat.jpg');
    width: 30%;
    height: 100%;
    border: 5px solid blue;
  }
}
//Zadanie8
.test_hight_grandpa {
  border: 1px solid black;
  height: 50px;

  .test_height_daddy {
    border: 3px solid blue;
    //height: 200%;

    .test_height_baby {
      border: 5px solid red;
      height: 100%;
    }
  }
}

//Zadanie9
//Zmienia się też wysokość elementu o klasie .test_height_baby

//Zadanie10
h1{
  margin: 50vh 0 50vh 50vh;
}
